/* Prevents adding any additional height to the whole page. */
body {
  height: 0;
}

/* Prevents pushing down the body content when the breadcrumbs appear. */
.breadcrumbs {
  margin-bottom: 0;
}

/* Light blue links for the grey panels. */
.panel #clickableLink {
  color: #008CBA;
}

/* Buttons appear next to each other side by side. */
#editBtn, #questionnairesBtn, #questionsAnswersBtn, #resultsBtn, #answersBtn, #moveQuestionUpBtn, #nextBtn, #previousBtn, #submitBtn {
  float: left;
  margin-right: 0.3em;
}

/* Prevents further content from appearing for elements that use the float property. */
#clearLeft {
  clear: left;
}

/* Sets short input widths for creating and editing start and end dates as they do not need to use much space. */
#date_start, #date_end {
  max-width: 11em;
}

/* Allows specified input fields such as checkboxes and raido buttons to be next to each other side by side. */
.floatMultipleOptions {
  float: left;
  padding-right: 5.3em;
}

/* Aligns the answer text to the centre, above a closed-ended answer input. */
.positionAnswer {
  text-align: center;
}

/* Sets the table width of 100% for viewing questionnaire results on the majority of devices. */
table {
  width: 100%;
}

/* Styling for displaying validation errors. */
.help-block {
  position: relative;
  top: -0.75em;
  background-color: #f04124;
  border-color: #cf2a0e;
  color: #ffffff;
  padding: 1em;
}

/* Styling for displaying non-validation errors. */
.statusError {
  background-color: #f04124;
  color: #ffffff;
  padding: 1em;
}

/* Styling for displaying success messages. */

.statusSuccess {
  background-color: #009900;
  color: #ffffff;
  padding: 1em;
}

/* Prevents the footer from being part of the body content. */
footer {
  clear: left;
  width: 100%;
  text-align: center;
}

/* If the browser or device width is less than or equal to 640px, then alter the positioning of the buttons so that
 they appear under each other, rather than next to each other side by side. */
@media screen and (max-width: 640px) {
  #editBtn, #questionnairesBtn, #questionsAnswersBtn, #resultsBtn, #answersBtn, #moveQuestionUpBtn, #nextBtn, #previousBtn, #submitBtn {
    float: none;
  }
  .button.alert {
    margin-top: 1.4em;
  }
}
